body {
    background-image: url('/Q17pD-Junkyard/assets/images/structure/background/ciel.png');
    background-repeat: repeat;
    padding: 50px;
    margin: 0px;
    position: relative;
    overflow: auto;
    font-family: Consolas, monospace;
    font-size: 100%;
    color: #FFDAB9;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;
}



.caption-text {
    line-height: 1.1;
    color: #000000;
    margin-top: 5px;
    margin-bottom: 0;
    clear: both;
    float: none !important;
    display: block;
}



#banner_outline {
    background-image: url('/Q17pD-Junkyard/assets/images/structure/banner/banner_outline_orange.png');
    background-repeat: no-repeat;
    background-position: center top;
    margin: 0px auto 0px auto;
    padding: 0px;
    width: 984px;
    height: 214px;
    position: relative;
    overflow: hidden;
}
#banner {
    background-image: url('/Q17pD-Junkyard/assets/images/structure/banner/banner.png');
    background-repeat: no-repeat;
    background-position: center top;
    margin: 0px auto 0px auto;
    padding: 0px;
    width: 978px;
    height: 142px;
    position: relative;
    overflow: hidden;
    top: 17px;
}
#logo {
    width: 125px;
    height: 125px;
    position: relative;
    font-size: 11px;
    line-height: 1;
    white-space: pre;
    color: #000;
}



#bottomer {
    margin-top: 100px;
    text-align: center;
}
#bottom-notes {
    background-image: url('/Q17pD-Junkyard/assets/images/structure/wrapper.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 600px;
    margin: -30 auto;
    padding-top: 15px;
    color: #FFA500;
}



#navBox {
    padding: 0px;
    margin: 0px auto 0px auto;
    width: 896px;
    height: 32px;
    position: relative;
    top: 21px;
}
#navBoxmenu {
    margin: 0px auto 0px auto;
    padding: 0px;
    width: 730px;
    height: 32px;
    position: relative;
    overflow: hidden;
    list-style-type: none;
    clear: left;
}
#navBoxmenu ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
#navBoxmenu ul li {
    padding: 0px;
    margin: 0px 2px 0px 45px;
    width: 124px;
    height: 32px;
    position: relative;
    overflow: hidden;
    float: left;
    text-align: center;
    line-height: 200%;
}



a.button {
    background: url('/Q17pD-Junkyard/assets/images/structure/button.png') no-repeat 0 0;
    width: 124px;
    height: 32px;
    display: block;
    color: #000;
    font-size: 16px;
    text-align: center;
    line-height: 32px;
    text-decoration: none;
}
a.button:hover {
    background-position: 0 -32px;
    color: #ffffff;
    text-decoration: none;
}
a.button:active {
    background-position: 0 -32px;
    color: #ffffff;
    text-decoration: none;
}



.float-R {
    padding: 0px;
    margin: 5px 0px 5px 5px;
    position: relative;
    float: right;
    overflow: hidden;
}
.float-L {
    padding: 0px;
    margin: 5px 5px 5px 0px;
    position: relative;
    float: left;
    overflow: hidden;
}



.cnt-box {
    padding: 0px;
    margin: 0px auto 15px auto;
    width: 710px;
    position: relative;
    overflow: hidden;
}
.cnt-boxTop {
    background-image: url('/Q17pD-Junkyard/assets/images/structure/block/block_top.png');
    background-repeat: no-repeat;
    background-position: center top;
    width: 710px;
    height: 65px;
    text-align: left;
    line-height: 300%;
    font-size: 200%;
    text-indent: 25px;
    color: #000;
    overflow: hidden;
}
.cnt-boxFiller {
    background-image: url('/Q17pD-Junkyard/assets/images/structure/block/block_filler.png'); /* исправлен двойной слеш */
    background-repeat: repeat-y;
    background-position: center top;
    padding: 0px;
    margin: 0px auto;
    width: 710px;
    position: relative;
    overflow: hidden;
}
.cnt-boxbottom {
    background-image: url('/Q17pD-Junkyard/assets/images/structure/block/block_bottom.png');
    background-repeat: no-repeat;
    background-position: center top;
    width: 710px;
    height: 55px;
    margin: 0 auto;
    overflow: hidden;
}



.cnt-boxInfo {
    border-top: 2px solid #FF9933;
    padding: 0px;
    margin: 0px auto;
    width: 664px;
    position: relative;
    color: #333333;
    overflow: hidden;
    font-size: 90%;
}
.cnt-boxInfo h1 {
    font-size: 160%;
    color: #FF9933;
    letter-spacing: -0.5px;
    line-height: 1;
}
.cnt-boxInfo h2 {
    margin: 0 0 0 0;
    font-size: 120%;
    line-height: 1;
}
.cnt-boxInfo h3 {
    color: #FF9933;
    letter-spacing: -0.5px;
}
.cnt-boxInfo h4 {
    margin: 0 0 5px 0;
    font-size: 85%;
    letter-spacing: 1px;
    line-height: 2;
}
.cnt-boxInfo p {
    margin: 0px 0 0 0;
    line-height: 1.5;
}
.cnt-boxInfo img {
    margin: 0 0 10px 20px;
    border: 2px solid #FF9933;
    background: #CCCCCC;
    image-rendering: pixelated;
}



.badges8831 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-bottom: 5px;
}
.sparkle {
    position: fixed;
    pointer-events: none;
    font-size: 14px;
    z-index: 9999;
}